<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Prediksi kasus COVID-19 di Indonesia menggunakan Linear Regression selama 3 bulan ke depan" />
    <meta name="author" content="Yusriyah IM" />
    <meta name="keyword" content="Covid 19, Prediksi, Indonesia" />
    <title>Prediksi Kasus Covid 19</title>

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/coronavirus-icon.png') }}" rel="icon" />
    <link href="{{ url_for('static', filename='assets/img/coronavirus-icon.png') }}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.snow.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/vendor/simple-datatables/style.css') }}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet" />
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{{ url_for('static', filename='assets/img/coronavirus-icon.png') }}" alt="" />
          <span class="d-none d-lg-block">COVID 19 Indonesia</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= MAIN SIDEBAR MENU ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="bi bi-house-door-fill"></i>
            <span>Prediksi Kasus Covid 19</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->
      </ul>
    </aside>
    <!-- End MAIN SIDEBAR MENU -->

    <main id="main" class="main">
      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Prediksi Kasus Coronavirus di Indonesia Tahun 2022</h5>

                <!-- Prediksi Kasus Coronavirus di Indonesia Form -->
                <form class="row g-3" action="{{ url_for('predict') }}" method="POST">
                  <div class="col-12">
                    <label for="Tempat" class="form-label">Tempat</label>
                    <!-- <input type="text" class="form-control" name="b" placeholder="indonesia / nama provinsi" required="required" /> -->
                    <select id="b" class="form-select" name="b" placeholder="indonesia / nama provinsi" required="required">
                      <option value="Indonesia">Indonesia</option>
                      <option value="Aceh">Aceh</option>
                      <option value="Bali">Bali</option>
                      <option value="Banten">Banten</option>
                      <option value="Kep. Bangka Belitung">Kep. Bangka Belitung</option>
                      <option value="Bengkulu">Bengkulu</option>
                      <option value="DI Yogyakarta">DI Yogyakarta</option>
                      <option value="DKI Jakarta">DKI Jakarta</option>
                      <option value="Jambi">Jambi</option>
                      <option value="Jawa Barat">Jawa Barat</option>
                      <option value="Jawa Tengah">Jawa Tengah</option>
                      <option value="Jawa Timut">Jawa Timur</option>
                      <option value="Kalimantan Barat">Kalimantan Barat</option>
                      <option value="Kalimantan Timur">Kalimantan Timur</option>
                      <option value="Kalimantan Tengah">Kalimantan Tengah</option>
                      <option value="Kalimantan Selatan">Kalimantan Selatan</option>
                      <option value="Kalimantan Utara">Kalimantan Utara</option>
                      <option value="Kep. Riau">Kep. Riau</option>
                      <option value="Nusa Tenggara Barat">Nusa Tenggara Barat</option>
                      <option value="Sumatera Selatan">Sumatera Selatan</option>
                      <option value="Sumatera Barat">Sumatera Barat</option>
                      <option value="Sulawesi Utara">Sulawesi Utara</option>
                      <option value="Sumatera Utara">Sumatera Utara</option>
                      <option value="Sulawesi Tenggara">Sulawesi Tenggara</option>
                      <option value="Sulawesi Selatan">Sulawesi Selatan</option>
                      <option value="Sulawesi Tengah">Sulawesi Tengah</option>
                      <option value="Lampung">Lampung</option>
                      <option value="Rriau">Riau</option>
                      <option value="Maluku Utara">Maluku Utara</option>
                      <option value="Maluku">Maluku</option>
                      <option value="Papua Barat">Papua Barat</option>
                      <option value="Papua">Papua</option>
                      <option value="Sulawesi Barat">Sulawesi Barat</option>
                      <option value="Nusa Tenggara Timur">Nusa Tenggara Timur</option>
                      <option value="Gorontalo">Gorontalo</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <label for="Month" class="form-label">Bulan</label>
                    <!-- <input type="text" class="form-control" name="c" placeholder="cth : juni / juli, dst" required="required" /> -->
                    <select id="c" class="form-select" name="c" placeholder="cth : juni / juli, dst" required="required">
                      <option value="agustus">Agustus</option>
                      <option value="september">September</option>
                      <option value="oktober">Oktober</option>
                      <option value="november">November</option>
                      <option value="desember">Desember</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <label for="Month" class="form-label">Tanggal</label>
                    <input type="number" class="form-control" name="a" placeholder="masukkan tanggal (1-31)" required="required" />
                  </div>
                  <div class="text-center">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-success" value="predict cases!">
                      PREDIKSI SEKARANG
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                      >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </button>
                  </div>
                </form>
                <!-- Prediksi Kasus Coronavirus di Indonesia Form -->
              </div>
            </div>
          </div>
          <!-- Prediksi Kasus Coronavirus di Indonesia result  -->
          {% if (data) != 0 %} {%if data != 0%}
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">                
                <h3 class="card-title">Prediksi penambahan kasus positif di {{ place }} pada tanggal {{ date }} {{ month }} 2022 :</h3>
                <p><strong style="font-size: 20px;">{{ data }}</strong> kasus</p>
                {%else%}
                <h1 class="card-title">Invalid Entry</h1>
                {%endif%}
                {% endif %}
              </div>
            </div>
          </div>
          <!-- End Prediksi Kasus Coronavirus di Indonesia result  -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <footer id="footer" class="footer" style="margin-bottom: 0px; position: fixed; width: 100%; bottom: 0px;">
      <div class="copyright">
        &copy; Copyright <strong><span>Yusriyah IM</span></strong>  
         <!-- All Rights Reserved -->
      </div>
    </footer>
    <!-- End Footer -->

    <script>
      document.addEventListener("contextmenu", (event) => event.preventDefault());
      document.onkeydown = function (e) {
        if (event.keyCode == 123) {
          return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == "I".charCodeAt(0)) {
          return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == "J".charCodeAt(0)) {
          return false;
        }
        if (e.ctrlKey && e.keyCode == "U".charCodeAt(0)) {
          return false;
        }
      };
    </script>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/simple-datatables/simple-datatables.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/echarts/echarts.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  </body>
</html>
